/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #bbb;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* header */

.header-section{
  background-color: transparent;
  position:absolute;
  top: 20px;
  right: 20px;
}
.header-section .menu-bars{
  text-align: center;
}
.header-section .menu-bars{
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:rgba(255, 255, 255, 0.25);
  line-height: 40px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.header-section .menu-bars:hover{
  background-color:rgba(0,0,0, 0.20);
  border: 2px solid #aaa;
}

input[type=checkbox]{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}
.header-section label
{
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}

input[type=checkbox]:checked .side-menu{
  transform: translate(0%);
}

/* side-menu */
.side-menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f64242;
  transform: translateX(100%);
}
.side-menu i{
  color: rgba(255, 255, 255, 0.55);
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 17px;
  z-index: 1;
}
.main-menu{
  list-style: none;
  width: 18em;
  padding: 3.5em 0 0 1.5em;
}
.main-menu li{
  margin-bottom: 0.75em;
  margin-right: 2em;
}
.main-menu li:nth-child(2){
  border-top:  1px solid rgba(255, 255, 255, 0.25);;
  border-bottom:  1px solid rgba(255, 255, 255, 0.25);
  padding: 1em 0;

}
.main-menu li a{
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: normal;
}

/* general-sections */
.first-section, .second-section,.third-section,.fourth-section,.fifth-section{
  position: relative;
}
.first-section .container,
.second-section .container,
.third-section .container,
.fourth-section .container,
.fifth-section .container{
  background-image: url(../images/jamie-morrison-VXom6ACaGR0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  position: relative;
}
.first-section .container::before,
.second-section .container::before,
.third-section .container::before,
.fourth-section .container::before,
.fifth-section .container::before{
  content: "";
  background-color: #000;
  opacity:0.45;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.second-section-block,
.third-section-block,
.fourth-section-block,
.fifth-section-block{
  text-align: center;
  width: 65%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  padding: 60px;
  border-radius: 1vh;
}
.second-section-block h2,
.third-section-block h2,
.fourth-section-block h2,
.fifth-section-block h2{
  color: #fff;
  font-size: 24px;

}
.second-section-block span,
.third-section-block span,
.fourth-section-block span,
.fifth-section-block span{
  color: #888;
  font-size: 18px;
}
.second-section-block p,
.third-section-block p,
.fourth-section-block p,
.fifth-section-block p{
  color: #fff;
  margin: 2em 0;
  font-weight: lighter;
  line-height: 1.75;
  font-size: 14px;
}
.second-section a,
.third-section a,
.fourth-section a,
.fifth-section a{
  display: block;
  border: 2px solid rgba(100,100,100,0.5);
  border-radius: 0.5vh;
  color: #fff;
  font-size: 16px;
  width: 150px;
  height: 40px;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2em;
}

/* first section */

.first-section .container{
  background-image: url(../images/jamie-morrison-VXom6ACaGR0-unsplash.jpg);
}

.first-section .first-section-header{
  width: 80%;
    text-align: center;

}
.first-section .first-section-header h2{
    font-size: 8vw;
    font-family: 'Lobster', cursive;
    color:#fff;
    opacity: 0.7;
    text-shadow: 1px 1px 1px  #888;
    z-index: 4;
    position: relative;
}


/* Second Secton */
.second-section .container{
  background-image: url(../images/pexels-tom-fisk-3840447.jpg);
}


/* third section */
.third-section .container{
  background-image: url(../images/sailing-vessel-3544039_1280.jpg);
}
/* fourth section */
.fourth-section .container{
  background-image: url(../images/pexels-tom-fisk-3063470.jpg);
}
/* fifth section */
.fifth-section .container{
  background-image: url(../images/pexels-tom-fisk-2231743.jpg);
}
